<h1>Eat-Da-Burger!</h1>



<h2>burgers created!</h2>

<ul>
  {{#each burgers}}

   {{!-- {{this.burger_name}} --}}
    {{#unless devoured}}  
      {{>burger-block devoured=true}}
{{/unless}}
{{/each}}
  </ul>



<h2>burgers devoured!</h2>

<ul>
{{#each burgers}}
    {{#if devoured}}
      {{> burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>




<form class="create-form" id="burgerInput">

        <div class="form-group">
            <label for="ca"></label>
            <input type="text" id="ca" name="burger_name"> 
        </div>

        <button type="submit">submit</button>
   </form>    

  